<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <File name="logFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %c{1} %m%n"/>
        </File>

        <Console name="logToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %c{1} %m%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <logger name="Logger" additivity="false" level="INFO">
            <AppenderRef ref="logToConsole"/>
            <AppenderRef ref="logFile"/>
        </logger>

        <Root level="INFO">
            <AppenderRef ref="logToConsole"/>
            <AppenderRef ref="logFile"/>
        </Root>

    </Loggers>

</Configuration>