<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <File name="logFile" fileName="target/logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <Console name="logToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <logger name="Logger" additivity="false" level="INFO">
            <AppenderRef ref="logToConsole"/>
            <AppenderRef ref="logFile"/>
        </logger>

        <Root level="INFO">
            <AppenderRef ref="logToConsole"/>
            <AppenderRef ref="logFile"/>
        </Root>

    </Loggers>

</Configuration>