<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WEB" verbose="2" parallel="methods" thread-count="10">

    <groups>
        <run>
            <include name="GOOGLE"/>
        </run>
    </groups>

    <test name="GOOGLE">
        <classes>
            <class name="org.web.GoogleSearch_IT"/>
        </classes>
    </test>
</suite>